/* Global */
:root {
  /* color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-light-pink: #f7eceb;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-extreme-light-grey: #ebe7e7;
  --color-blue: #1565c0;
  --color-medium-blue: #5e92f3;
  --color-light-blue: #d7e4fc;
  --color-dark-blue: #003c8f;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-dark_orange: #e0982c;
  --color-black: #000000;
  --color-light-green: rgb(132, 236, 132);
  --color-green: green;
  --color-dark-green: rgb(3, 83, 3);

  /* Font Size */
  --font-large: 44px;
  --font-medium: 28px;
  --font-semi-medium: 24px;
  --font-regular: 20px;
  --font-small: 18px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  /* animation */
  --animation-duration: 300ms;

  /* Constant */
  --constant-left-padding: 25px;
  --constant-inner-gap: 20px;
  --constant-section-padding: 100;
}

/* Universal tags */
/* Solid border */
hr.solid {
  border-top: 2px solid rgb(185, 175, 175);
}

hv.solid {
  border-top: 2px solid rgb(185, 175, 175);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*  Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-light-grey);
  margin: 16px 0px 0 0;
  line-height: 1.5em;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8x 0;
  text-align: left;
  margin-left: var(--constant-left-padding);
  line-height: 1.5em;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8x 0;
  text-align: left;
  margin-left: var(--constant-left-padding);
  line-height: 1.5em;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4x 0;
  line-height: 1.5em;
}

section common .section {
  max-width: 1200px;
  text-align: center;
  margin: 50px;
}

header {
  position: fixed;
  width: 100%;
}

footer {
  width: 100%;
}

div {
  padding: 1px;
}

article {
  margin: 15px;
  text-align: left;
}

.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--font-small);
  margin-bottom: 40px;
  margin-top: 40px;
}
th,
td {
  padding: 5px;
  border-spacing: 0;
  border: 1px solid #dddddd;
}
td {
  width: 185px;
}
th {
  font-weight: bold;
}
th.table_top {
  text-transform: uppercase;
  background-color: #05668d;
  color: white;
}
th.table_left {
  width: 245px;
  text-align: left;
}

tr {
  padding: 5px;
  background-color: var(--color-white);
}

tr.odd {
  background-color: var(--color-white);
}
tr:hover {
  background-color: var(--color-medium-blue);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-medium-blue);
  align-items: center;
  color: var(--color-white);
  padding: 10px;
  transition: all var(--animation-duration) ease-in;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-medium-blue);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu_item {
  list-style: none;
  padding: 8px 12px;
  margin: 0 4px;
  font-size: var(--font-small);
  color: var(--color-white);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu_item:hover {
  background-color: var(--color-dark-blue);
  border-color: var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* direction arrow part */
#direction {
  margin: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.direction_top_container {
  width: 100%;
  float: top;
  margin-bottom: 10px;
}

.direction_bottom_container {
  width: 100%;
  float: top;
  display: flex;
  flex-direction: row;
}

.direction_left_container {
  width: 50%;
  float: left;
  text-align: left;
}

.direction_right_container {
  width: 50%;
  float: left;
  text-align: right;
}

/* footer */
#footer {
  width: 100%;
  /* background-color: var(--color-medium-blue); */
  background-image: url(imgs/footerimg.png);
  align-items: center;
  height: 145px;
  padding: 20px;
}

.footer__text,
.footer__rights {
  color: var(--color-light-white);
  font-size: medium;
  text-align: center;
}

.direction__arrow_text {
  padding-left: 25px;
  padding-top: 25px;
  text-align: left;
}

.direction__arrow_logo {
  font-size: var(--font-small);
  color: var(--color-blue);
  padding-bottom: 50px;
  padding-right: 30px;
  margin-left: 30px;
  text-align: right;
}

.home__sub_listitem {
  text-align: left;
  padding: 5px;
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  line-height: 1.8em;
}

.home__sub_description {
  text-align: left;
  line-height: 1.5em;
}

/* Drop down navbar */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: var(--font-regular);
  border: none;
  outline: none;
  color: white;
  padding: auto;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--color-dark-blue);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 128px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: var(--color-white);
  background-color: var(--color-dark_orange);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width - for mobile version */
@media screen and (max-width: 768px) {
  :root {
    /* Font Size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-medium-blue);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }

  .direction_left_container {
    width: 100%;
  }

  .direction_right_container {
    width: 100%;
  }

  .arrow-up {
    width: 40px;
    height: 40px;
    line-height: 35px;
    font-size: 30px;
    right: 16px;
    bottom: 16px;
  }
}
