/* Home */
#home {
  display: flex;
  background-color: var(--color-white);
  padding-top: 180px;
  padding-bottom: 120px;
  justify-content: center;
}

.home__container {
  width: 100%;
}
.home__left_container {
  width: 50%;
  float: left;
  padding-top: 20px;
  padding-left: 250px;
}

.home__right_container {
  width: 50%;
  float: left;
}

.home__avatar {
  width: 400px;
  height: 320px;
  display: block;
  margin: auto;
}

.home__title {
  color: var(--color-dark-grey);
  font-size: 50px;
}

.home__description {
  color: var(--color-orange);
}

.home__button {
  background-color: var(--color-green);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
}

.home__button:hover {
  background-color: var(--color-dark-green);
  border-color: var(--color-white);
}

#home__sub {
  padding: 40px;
  background-color: var(--color-light-blue);
  width: 100%;
  text-align: center;
}

.home__sub_bottom {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background-color: var(--color-white);
}

.home__sub_a {
  color: var(--color-dark-blue);
}

.home__sub_title {
  /* font-family: "Tangerine", serif; */
  font-family: "Montserrat", sans-serif;
  color: black;
}

.home__sub_listitem {
  text-align: left;
  padding: 5px;
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.home__sub_description {
  text-align: left;
  line-height: 1.5em;
}

#home__next_direction {
  width: 100%;
}

/* For below 768px screen width - for mobile version */
@media screen and (max-width: 768px) {
  .home__left_container {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  .home__right_container {
    padding-left: 10px;
    width: 100%;
  }

  .section {
    padding: 16px;
    padding-top: 50px;
  }
}
